.App {
  text-align: center;
  margin: 2rem;
}

/* Nav Bar */
.navbar {
  display: flex;
  justify-content: space-between;
  margin: 2rem 3rem;
  align-items: center;
  padding: 1rem;
}

.header {
  text-decoration: none;
  font-weight: 800;
  font-size: 2.5rem;
  color: rgb(42, 134, 120);
}

.search {
  width: 42rem;
  padding: 10px;
  border-radius: 10px;
  color: black;
  font-size: 18px;
  opacity: 80%;
  border-color: black;
}

.fav-total {
  color: rgb(42, 134, 120);
  position: relative;
  font-size: 1rem;
  font-weight: 700;
  position: absolute;
  left: 70rem;
  top: 1rem;
}

.fav-subheader {
  color: rgb(42, 134, 120);
}

.plus-sign {
  color: rgb(42, 134, 120);
  position: relative;
}

.hamNav {
  color: rgb(42, 134, 120);
  display: none;
}

hr {
  margin: 1rem 2rem 1rem 2rem;
}

#slider-img {
  height: 32rem;
  width: 66rem;
  justify-content: center;
}
/* Carousel Caption */
.caption {
  text-align: left;
  font-size: 2.5rem;
  background-color: rgb(42, 134, 120);
  width: 25rem;
  text-align: center;
  align-items: center;
}
/* Body of Main Page */
main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 550px 550px 550px;
}

.sub-header {
  margin: 3rem 3rem 1rem 3rem;
  font-weight: 700;
  font-size: 2rem;
  color: rgb(42, 134, 120);
}

aside {
  grid-column: 1 / span 1;
  grid-row: 1 / span 3;
  border-right: 1px solid rgb(42, 134, 120);
}

.aside-junk {
  text-decoration: none;
  font-weight: 800;
  font-size: 1.4rem;
  color: rgb(42, 134, 120);
  margin: 2rem;
  width: 20rem;
}

.aside-filter {
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
  text-decoration: none;
  font-weight: 800;
  font-size: 1.4rem;
  color: rgb(42, 134, 120);
  margin: 2rem;
  width: 20rem;
}
.aside-cat {
  grid-row: 3 / span 1;
  font-weight: 800;
  font-size: 1.4rem;
  color: rgb(42, 134, 120);
  margin: 2rem;
  width: 20rem;
}
span {
  display: inline-block;
  width: 1px;
  height: 100%;
  background: rgb(42, 134, 120);
  margin: 0 2px;
}

.home-container {
  grid-column: 2 / span 4;
  grid-row: 1 / span 3;
}

/* Form  */
.subheader-form {
  margin-right: 55rem;
  width: 25rem;
  padding: 2rem;
  font-size: 2rem;
  font-weight: 600;
  color: rgb(42, 134, 120);
}

.add-post {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
}

.profile-label {
  margin-right: 23rem;
  padding: 2rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: rgb(42, 134, 120);
}
#profile {
  margin-bottom: 2rem;
}
.avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-top: -4rem;
  margin-bottom: 1rem;
  background-size: cover;
  background-position: top center;
}

.username-label,
.brand-label,
.productName-label,
.category-label,
.quantity-label {
  margin-right: 23rem;
  padding: 2rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: rgb(42, 134, 120);
}

#username {
  margin-top: -4rem;
}

#brand {
  margin-top: -4rem;
}

#productName {
  margin-top: -4rem;
}

#category,
#quantityLeft {
  margin-top: -4rem;
  width: 11rem;
}

.dropdown-header,
.productImg-label {
  padding: 2rem 2rem 0rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: rgb(42, 134, 120);
}

#productImg {
  margin-bottom: 1rem;
  width: 20rem;
}

.form-button {
  margin: 2rem;
}

.dropdown-header

/* Post */
.home-container {
  display: grid;
  grid-template-areas: "p p p";
  width: 85rem;
}
.post-container {
  border: 1px solid lightgray;
  padding: 1rem;
  margin: 2rem;
  width: 18rem;
  display: inline-block;
}

.home-avatar {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}

.home-username {
  font-weight: bold;
}

.home-products {
  width: 7rem;
  height: 7rem;
}

.home-trash {
  margin: 2rem;
  color: rgb(42, 134, 120);
}

.home-favorites {
  margin: 2rem;
}

.progress-bar {
  background-color: rgb(42, 134, 120);
  font-weight: bold;
}

/* Responsiveness */
@media only screen and (max-width: 768px) {
  .App {
    width: 84rem;
  }

  .carousel {
    width: 44rem;
  }

  #slider-img {
    width: 40rem;
  }

  .header {
    font-size: 3rem;
    align-content: flex-start;
    margin-bottom: 3rem;
  }

  .plus-sign {
    margin-bottom: 3rem;
  }

  .search {
    width: 38rem;
    margin-top: 4rem;
  }
  hr {
    width: 80rem;
    display: flex;
    justify-content: center;
  }

  span {
    display: none;
  }

  .carousel.slide {
    width: 80rem;
  }

  .navbar {
    padding: 1rem;
    height: 8rem;
  }

  .hamNav {
    margin-left: -29rem;
    margin-top: 4rem;
    display: block;
  }
  .add-post {
    margin: 0rem 3rem 0rem 3rem;
    width: 74rem;
  }
}

@media only screen and (max-width: 425px) {
  .aside-junk {
    display: none;
  }
  .aside-cat {
    position: absolute;
    bottom: 44rem;
  }
  .aside-selectcat {
    position: relative;
    height: 2rem;
    top: 6rem;
  }
  .reset {
    position: relative;
    top: 6rem;
    left: 1rem;
  }

  main {
    display: inline-block;
  }
}
